<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.spring.project.CartMapper">

	<insert id="addCart" useGeneratedKeys="true" keyProperty="cartNum" parameterType="com.ezen.spring.project.CartVO">
		INSERT INTO itemcart VALUES(NULL, #{goods}, #{price}, #{qty}, #{user})
	</insert>
	
	<select id="cartList" parameterType="String" resultType="com.ezen.spring.project.CartVO">
		SELECT * FROM itemcart WHERE user=#{uid}
	</select>
	
	<update id="updateCart" parameterType="com.ezen.spring.project.CartVO">
		UPDATE itemcart SET qty=#{qty} WHERE cartNum=#{cartNum}
	</update>
	
	<select id="getCartNum" parameterType="Integer" resultType="com.ezen.spring.project.CartVO">
		SELECT * FROM itemcart WHERE cartNum=#{cartNum}
	</select>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM itemcart WHERE cartNum=#{cartNum}
    </delete>
      
	<delete id="clear" parameterType="String">
		DELETE FROM itemcart WHERE user=#{user}
	</delete>
	
	<select id="findCartByUserAndGoods" parameterType="com.ezen.spring.project.CartVO" resultType="com.ezen.spring.project.CartVO">
        SELECT * FROM itemcart WHERE user=#{user} AND goods=#{goods}
    </select>
 
</mapper>